<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Профиль пользователя</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>

    <style>
        /* внешние границы таблицы серого цвета толщиной 1px */
        table {
            border: 1px solid grey;
            width: 100%;
        }

        /* границы ячеек первого ряда таблицы */
        th {
            border: 1px solid grey;
        }

        /* границы ячеек тела таблицы */
        td {
            border: 1px solid grey;
        }
    </style>

</head>

<body>

<div th:replace="~{navigation :: navi(Shop, ${fio})}"/>

<h2 style="font-weight: bold; margin-bottom: 20px">Профиль пользователя <span th:text="${userName.userName}"></span>
</h2>

<div class="container">
    <br>
    <p style="font-weight: bold">
        Логин:
    </p>
    <input style="text-align: center" th:value="${userName.userName}" readonly>

<!--    <form th:object="${userForRePass}" method="post" th:action="@{/profile/savePass}">-->
<!--        <p style="font-weight: bold">-->
<!--            Пароль:-->
<!--        </p>-->

<!--        <input type="password" style="text-align: center" th:value="*{password}">-->

<!--        <br>-->
<!--        <button type="submit" class="btn btn-primary">Изменить пароль</button>-->
<!--    </form>-->
    <br>
    <p style="font-weight: bold">
        Фамилия:
    </p>
    <input style="text-align: center" th:value="${userName.lastName}" readonly>

    <br>
    <p style="font-weight: bold">
        Имя:
    </p>
    <input style="text-align: center" th:value="${userName.firstName}" readonly>

    <br>
    <p style="font-weight: bold">
        Номер телефона:
    </p>
    <input style="text-align: center" th:value="${userName.phone}" readonly>

    <br>
    <p style="font-weight: bold">
        Эл. почта:
    </p>
    <input style="text-align: center" th:value="${userName.email}" readonly>

    <br>
    <p style="font-weight: bold">
        Адреса доставок:
    </p>

    <table th:each="o : ${deliveryAddress}">
        <tr th:text="${o.address}"></tr>
    </table>

    <br>
    <p style="font-weight: bold">
        Заказы:
    </p>
    <table style="text-align: center">
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Адрес доставки</th>
            <th>Статус заказа</th>
            <th>Открыть заказ</th>
        </tr>
        <tr th:each="o : ${listOrders}">
            <td th:text="${o.id}"></td>
            <td th:text="${o.getCreateAt()}"></td>
            <td th:text="${o.getDeliveryAddress().address}"></td>
            <td th:text="${o.getStatus()}"></td>
            <td><a class="btn btn-primary" href="#">Открыть</a></td>
        </tr>
    </table>
    <br>
    <a class="btn btn-primary">Сохранить</a>
    <a class="btn btn-danger" th:href="@{/back}">Назад</a>

</div>

</body>
</html>